{% extends 'base.html' %} 

{% block page-title %}
<title>Food Village</title>
{% endblock %} 

{% block container %}
<div class="container mt-5">
  <div class="row justify-content-md-center">
    {% block card-container %}
    {% for i in meals_list %}

      <div class="card col-lg-4 col-md-4 col-sm-12 me-5 mb-5" style="width: 18rem;">
        <img src="{{i.strMealThumb}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.strMeal}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

    {% endfor %}
    {% endblock %}
  </div>
</div>
    {% endblock %}
